.search-fluid-fix {
  margin-bottom: 10px !important;
}

.search-fluid-fix > div {
  width: 100%;
}

.search-fluid-fix input {
  border-radius: .28571429rem !important;
}

.text-uploader {
  border: 1px solid rgba(34, 36, 38, .15);
  border-radius: .28571429rem;
  padding: 10px;
}

.text-uploader.error {
  border-color: #e0b4b4;
  background-color: #fff6f6;
}

.text-uploader.error textarea {
  color: #9f3a38;
}

.production-only {
  margin-top: 15px !important;
}

.result-page {
  margin: 20px auto 20px auto !important;
  width: 60%;
}

.date-container {
  text-align: right;
}

.tree-container {
  overflow-x: auto;
}

.tree {
  display: flex;
}

.tree .node {
  margin: 3px;
  display: flex;
  padding: 2px 5px 5px 5px;
  color: white;
  font-weight: bold;
  opacity: 0.9;
}

.tree .node:hover {
  opacity: 1;
}

.tree .node .name {
  margin-top: 3px;
}

.tree .node .score {
  margin-left: 5px;
  font-size: 10px;
}

.tree .node .icon {
  margin-left: 5px;
  cursor: pointer;
}

.evaluation-log {
  display: block !important;
  margin: 0px !important;
  margin-bottom: 5px !important;
  border: 0 !important;
  padding: 2px !important;
}

.evaluation-log:last-child {
  margin-bottom: 0px !important;
}
