body {
  background-color: #f8f8f8;
}

#root > div {
  min-height: calc(100vh - 343px);
}

#root > div + div {
  height: 0;
  display: none;
}

/* HEADER */

nav .container {
  margin-top: 15px;
}

#root > header {
  margin-bottom: 30px;
  border-bottom: 6px solid #f8dc3d;
  padding-top: 1px;
  min-height: 150px;

  background-color: #2e2e2c;
  color: white;
}

#root > header .container {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.headerInner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
}

h2#logo {
  margin: 0 25px 0 0;
  width: 112px;
  min-width: 112px;
  height: 112px;
  background: url('./images/logo.png');
  background-size: contain;
}

h2#logo a {
  display: block;
  height: 100%;
  overflow: hidden;
  text-indent: -3000px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
}

#root > header .menu {
  margin-top: 0 !important;
  justify-content: flex-end;
}

#root > header .menu a {
  margin: 3px 0 0 0;
  padding: 1px;
  color: white !important;
  background-color: transparent !important;
  flex-grow: 0 !important;
}

#root > header .menu a:hover {
  color: #f1d960 !important;
}

#root > header .menu a.feedback > i {
  font-size: 26px;
}

/* #root > header .menu a.twitter:hover {
  color: #5091fb !important;
}

#root > header .menu a.github:hover {
  color: #456fb7 !important;
} */

.menu i {
  font-size: 32px;
}

.slogan {
  flex-grow: 1;
  text-align: center;
  font-size: 25px;
  color: #f8dc3d;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.50);
}

@media all and (max-width: 1240px) {
  .slogan {
    font-size: 22px;
  }
}

@media all and (max-width: 996px) {
  .slogan {
    font-size: 18px;
  }
}

@media all and (max-width: 855px) {
  #root > header .container {
    align-items: flex-start;
  }

  .headerInner {
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    align-items: flex-end;
  }

  .slogan {
    padding: 20px 0;
    text-align: right;
    order: 2;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .ui.stackable.cards {
    margin-top: 0;
  }
}

.ui.column.grid > [class*="sixteen wide"].column,
.ui.grid > .column.row > [class*="sixteen wide"].column,
.ui.grid > .row > [class*="sixteen wide"].column,
.ui.grid > [class*="sixteen wide"].column {
  padding-bottom: 1rem;
}

.slogan strong {
  color: white;
  font-weight: normal;
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* FOOTER */

#root > footer {
  position: relative;
  border-top: 15px solid #212121;
  border-bottom: 3px solid #f8dc3d;
  margin-top: 25px;
  padding-top: 28px;
  height: 166px;
  background-color: #2e2e2c;
  color: #fff;
}

.footer_logo {
  float: right;
  display: block;
  width: 257px;
  height: 96px;
  background: url('./images/footer_logo.png') right no-repeat;
  transition: width 0.222s linear;
}

@media (max-width: 990px) {
  .footer_logo {
    width: 96px;
  }
}
