body {
  background-color: #f8f8f8;
}

#root > div {
  min-height: calc(100vh - 343px);
}

#root > div + div {
  height: 0;
  display: none;
}

/* HEADER */

nav .container {
  margin-top: 15px;
}

#root > header {
  margin-bottom: 30px;
  border-bottom: 6px solid #f3da51;
  padding-top: 1px;
  min-height: 150px;

  background-color: #2e2e2c;
  color: white;
}

#root > header .container {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.headerInner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
}

h2#logo {
  margin: 0 25px 0 0;
  width: 112px;
  min-width: 112px;
  height: 112px;
  background: url('./images/logo.png');
  background-size: contain;
}

h2#logo a {
  display: block;
  height: 100%;
  overflow: hidden;
  text-indent: -3000px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
}

#root > header .menu {
  margin-top: 0 !important;
  justify-content: flex-end;
}

#root > header .menu a {
  margin: 3px 0 0 0;
  padding: 1px;
  color: white !important;
  background-color: transparent !important;
  flex-grow: 0 !important;
}

#root > header .menu a:hover {
  color: #f1d960 !important;
}

#root > header .menu a.feedback > i {
  font-size: 26px;
}

/* #root > header .menu a.twitter:hover {
  color: #5091fb !important;
}

#root > header .menu a.github:hover {
  color: #456fb7 !important;
} */

.menu i {
  font-size: 32px;
}

.slogan {
  flex-grow: 1;
  text-align: center;
  font-size: 25px;
  color: #f3da51;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.50);
}

@media all and (max-width: 1240px) {
  .slogan {
    font-size: 22px;
  }
}

@media all and (max-width: 996px) {
  .slogan {
    font-size: 18px;
  }
}

@media all and (max-width: 855px) {
  #root > header .container {
    align-items: flex-start;
  }

  .headerInner {
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    align-items: flex-end;
  }

  .slogan {
    padding: 20px 0;
    text-align: right;
    order: 2;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .ui.stackable.cards {
    margin-top: 0;
  }

  .tab-label {
    display: none;
  }
}

.ui.column.grid > [class*="sixteen wide"].column,
.ui.grid > .column.row > [class*="sixteen wide"].column,
.ui.grid > .row > [class*="sixteen wide"].column,
.ui.grid > [class*="sixteen wide"].column {
  padding-bottom: 1rem;
}

.slogan strong {
  color: white;
  font-weight: normal;
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* FOOTER */

#root > footer {
  position: relative;
  border-top: 15px solid #212121;
  border-bottom: 3px solid #f3da51;
  margin-top: 25px;
  padding-top: 35px;
  padding-bottom: 35px;
  height: auto;
  background-color: #2e2e2c;
  color: #fff;
}

footer .ui.container {
  display: flex;
  align-items: stretch;
  align-content: stretch;
}

.footer-left,
.footer-right {
  flex-grow: 1;
}

.footer-right {
  text-align: right;
}

footer a {
  color: white;
}

.footer_logo {
  display: block;
  overflow: auto;
  transition: width 0.222s linear;
}

.footer_logo.corpjs img {
  height: 80px;
}

.footer_logo.jaystack {
  margin-top: 10px;
}

.footer_logo.jaystack:hover {
  color: white;
}

.footer_logo.jaystack img {
  height: 50px;
}

.footer_logo.jaystack span {
  display: block;
}

footer .link-1 {
  display: inline-block;
  color: #fff;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  background-color: #212121;
  border-color: #212121;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

footer .link-1 br {
  display: none;
}

footer .link-1:hover {
  color: #2E2E2C;
  background-color: #32B9FB;
  border-color: #059feb;
}

footer .copy-text {
  display: block;
  margin-top: 25px;
}

footer .ui.icon.menu {
  height: 52px;
  align-items: flex-end;
}

footer .ui.icon.menu .item {
  border-radius: 0;
  width: 46px;
  height: 46px;
  text-align: center;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 0;
  box-sizing: content-box;
  align-self: flex-end;
  transition: border-bottom-width 0.222s ease-out;
}

footer .ui.icon.menu .item:hover {
  border-bottom-width: 6px;
}

footer .icon.menu i {
  color: white;
  font-size: 27.5px;
}

footer .icon.menu .item.twitter,
footer .icon.menu .item.twitter:hover {
  background-color: #4099FF !important;
  border-color: #0d7eff;
}

footer .icon.menu .item.github,
footer .icon.menu .item.github:hover  {
  background-color: #4078c0 !important;
    border-color: #33609a;
}

footer .icon.menu .item.meetup,
footer .icon.menu .item.meetup:hover {
  background-color: #F14162 !important;
  border-color: #e03051;
}

footer .icon.menu .item.feedback,
footer .icon.menu .item.feedback:hover {
  background-color: #F1D960 !important;
  border-color: #e0c850;
}

footer .icon.menu .item.feedback i {
  color: #323230;
}

@media all and (max-width: 690px) {
  footer .ui.container {
    flex-direction: column;
  }

  .footer-left,
  .footer-right {
    text-align: center;
  }

  .footer-left {
    margin-bottom: 40px;
  }

  footer .ui.icon.menu {
    justify-content: center;
  }
}

@media all and (max-width: 460px) {
  footer .link-1 br {
    display: block;
  }
}