.search-fluid-fix > div {
  width: 100%;
}

.search-fluid-fix input {
  border-radius: .28571429rem !important;
}

.result {
  margin: 20px auto 20px auto !important;
  width: 60%;
}

.date-container {
  text-align: right;
}

.tree-container {
  overflow-x: auto;
}

.tree {
  display: flex;
}

.tree .node {
  margin: 3px;
  display: flex;
  padding: 2px 5px 5px 5px;
  color: white;
  font-weight: bold;
  opacity: 0.9;
}

.tree .node:hover {
  opacity: 1;
}

.tree .node .name {
  margin-top: 3px;
}

.tree .node .score {
  margin-left: 5px;
  font-size: 10px;
}

.evaluation-log {
  display: block !important;
  margin: 0px !important;
  margin-bottom: 5px !important;
  border: 0 !important;
  padding: 2px !important;
}

.evaluation-log:last-child {
  margin-bottom: 0px !important;
}